@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input::-webkit-input-placeholder {
  color: #9b9b9b;
  font-weight: 600;
  font-size: 14px;
}

input:focus{
  box-shadow: 0 0 4px 3px rgb(0 0 0 / 6%)
}
textarea:focus{
  box-shadow: 0 0 4px 3px rgb(0 0 0 / 6%);
  @apply border-grey-500
}

.ant-collapse-item {
  /* border-bottom: 1px solid #ebe9e9 !important; */
  border-radius: 0 !important;
}
.ant-collapse{
  border-radius: 0 !important;
  border: 0 !important;
  /* border-bottom: 2px solid #cdcdcd !important; */
}
.ant-collapse-content {
  border-radius: 0 !important;
}

.ant-collapse-content-box{
  padding: 0 !important;
}

.ant-collapse-header{
  padding: 16px 16px !important
}
.ant-collapse-header:hover{
  color: white !important
}
.listStyleCircle{
  list-style-type: circle
}

input[type='radio']:checked{
  background-image: none;
  color : rgb(194 207 16 );
  background-color: rgb(194 207 16 );
  border-color: rgb(194 207 16 );
}

[type='checkbox']:focus, [type='radio']:focus {
    --tw-ring-color: rgb(194 207 16 );
  }

.ant-select-selector:hover, .ant-select-selector:focus-within {
  border: 1px #C2CF10 solid  !important;
}

.privacy-image-bg {
  background-position: 0% 0%;
}

.swiper-pagination-bullet{
  border-radius: 0 !important;
}


@media screen and (min-width: 768px) {
  .line-container-homepage {
    width:4%;
  }
}
@media screen and (min-width: 1400px) {
  .line-container-homepage {
    width:35%;
  }
}
@media screen and (min-width: 1024px) {
  .line-container-homepage {
    width:4%;
  }
}





