@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input::-webkit-input-placeholder {
  color: #9b9b9b;
  font-weight: 600;
}

input:focus{
  box-shadow: 0 0 4px 3px rgb(0 0 0 / 6%)
}
textarea:focus{
  box-shadow: 0 0 4px 3px rgb(0 0 0 / 6%);
  @apply border-grey-500
}

.ant-collapse-item {
  /* border-bottom: 1px solid #ebe9e9 !important; */
  border-radius: 0 !important;
}
.ant-collapse{
  border-radius: 0 !important;
  border-bottom: 0 !important;
}
.ant-collapse-content {
  border-radius: 0 !important;
}

.ant-collapse-content-box{
  padding-bottom: 10px !important;
}

.ant-collapse-header{
  padding: 17px 16px !important
}
.ant-collapse-header:hover{
  color: white !important
}